<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<h2 class="ui center aligned icon header" id="header"><i class="circular users icon"></i> 前端考试网 </h2>
<div class="ui two column middle aligned very relaxed stackable grid" id="main">
  <div class="column" style="margin:auto">
    <div class="ui form" style="    margin-top: 50px;">
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="text" placeholder="Username" class="userName">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" class="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="ui blue submit button" id="login">Login</div>
        <div class="ui green icon button" id="register"><i class="signup icon"></i> Sign Up </div>
    </div>
  </div>
</div>
<div class="ui two column middle aligned very relaxed stackable grid" id="enroll" style="display: none;">
  <div class="column" style="margin:auto">
    <div class="ui form" style="    margin-top: 50px;">
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="text" placeholder="Username" name="userNameEnroll">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>密码</label>
        <div class="ui left icon input">
          <input type="password" name="passwordEnroll">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <label>确认密码</label>
        <div class="ui left icon input">
          <input type="password" name="rePasswordEnroll">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <label>邮箱</label>
        <div class="ui left icon input">
          <input type="text" name="email">
          <i class="at icon"></i>
        </div>
      </div>
      <div class="ui blue submit button" id="sure">确认</div>
        <div class="ui green icon button" id="return">返回</div>
    </div>
  </div>
</div>
<script>
$(function() {
  function promiseFun(ms){return new Promise((resolve,reject)=>{setTimeout(resolve,ms,'done')})}
  promiseFun(1000).then((value)=>{console.log(value)})
  $("#login").click(function() {
    if (!$('.userName').val() || !$('.password').val()) {
            alert("输入框不能为空")
    } else {
      $.ajax({
        url: '/login',
        type: 'post',
        dataType:'json',
        data: {
          name: $('.userName').val(),
          pass: $('.password').val()
        },
        success: function(data) {
             window.location.href="http://localhost:2000"
        },
        error: function(data) {
          // 返回的不是规定的 dataType 类型  error
          console.log('err' + data);
        }
      });
    }
  });

  // 注册按钮，显示注册页面
  $('#register').click(function() {
    $('#main').hide();
    $('#enroll').show();
  });
  $("#return").click(function() {
    $('#main').show();
    $('#enroll').hide();
  });
  // 注册确认按钮，确保输入的信息有效，并存入数据库
  // 有效性条件：1.不为空，2.两个密码一致，3.后台无此用户名,4.lenovo邮箱
  $('#sure').click(function() {
    var userName = $('[name=userNameEnroll]').val();
    var password = $('[name=passwordEnroll]').val();
    var rePassword = $('[name=rePasswordEnroll]').val();
    var email = $('[name=email]').val();
    var emailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;

    if (userName.length > 0) {
      if (emailReg.test(email)) {
        if (userName.length == 0 || password.length == 0) {
          alert('不能为空');
        } else if (password != rePassword) {
          alert('密码不一致');
        } else {
          // 都填对了
          var data = {};
          data.userName = userName;
          data.password = password;
          data.email = email;
          $.ajax({
            type: 'post',
            url: 'login/register',
            dataType: 'json',
            data: {
              name: userName,
              pass: password,
              email: email
            },
            success: function(data) {
              alert(data.result)
            },
            error: function(data) {
              console.log('err' + data);
            }
          });
        }
      } else {
        alert("请输入邮箱");
      }
    } else {
      alert("请输入用户名");
    }
  });
})
</script>
</body>
</html>